<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form ng-submit="search()">
  <input type="text" ng-model="searchText">
  <button type="submit">Search</button>
</form>

<table>
  <tr ng-repeat="item in searchResults">
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
  </tr>
</table>
</body>
</html>